.navbar {
    background-color: #916B48 !important;
    color: white !important;
    margin: 20px auto 20px auto;
    padding: 20px 20px !important;
    width: 80%;
    border-radius: 60px;
    text-align: center;
    font-size: 1.25rem; 
}

.brand {
    margin-right: 60px !important;
}

.navbar .nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    color: white !important;
}

.navbar a:hover {
    color: #d8d8d8 !important;
    text-decoration: underline;
}

.toggle {
    border-color: white !important;
    background-color: white !important;
    border-radius: 50% !important;
}

.toggle > span {
    width: 1.5rem !important;
}

.nav a {
    text-align: center;
}