@font-face {
  font-family: "Kanit";
  src: url("/fonts/Kanit-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kanit";
  src: url("/fonts/Kanit-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Kanit", sans-serif !important;
}

/* เพิ่ม CSS นี้ในไฟล์ globals.css หรือสร้าง module CSS ใหม่ */
.customImage {
  width: 100%;
  max-width: 500px;
}
.assessment, .triup-act, .address {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px !important;
  display: flex;
}

.assessment-section, .address-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 50px;
  background-color: #f5f7fa;
}

.assessment-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #69470D;
  margin-bottom: 24px;
  text-align: center;
}

.assessment-button-container {
  position: relative;
  display: flex;
  justify-content: center !important;
}

.assessment-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.assessment-button {
  background-color: #FFCC3E;
  color: #69470D;
  border: none;
  border-radius: 50px;
  padding: 12px 48px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 14px #ad8a2a;
  margin-top: 10px;
}

.assessment-button:hover {
  background-color: #cfa738;
  transform: translateY(-2px);
  box-shadow: 0 6px 20px #e0b53e;
}

.assessment-button:active {
  transform: translateY(0);
}

.click-icon-wrapper {
  position: absolute;
  bottom: -8%;
  left: 63%;
  transform: translate(-50%, 50%);
  pointer-events: none; /* ป้องกันไม่ให้ไอคอนรับการคลิก */
}

.click-icon {
  width: 48px;
  height: 48px;
  display: block;
}

/*Triup ACT*/
.triup-act-section {
  width: 100%;
  padding: 50px;
  background-color: #f5f7fa;
}

.triup-act-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.triup-act-title p{
  font-size: 1.5rem;
  font-weight: 600;
  color: #69470D;
  margin-bottom: 24px;
  text-align: center;
}

.triup-act-button {
  background-color: #FFCC3E;
  color: #69470D;
  border: none;
  border-radius: 50px;
  padding: 12px 48px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 14px #ad8a2a;
  margin-top: 10px;
}

.triup-act-button:hover {
  background-color: #cfa738;
  transform: translateY(-2px);
  box-shadow: 0 6px 20px #e0b53e;
}

.triup-act-button:active {
  transform: translateY(0);
}

.triup-act-image {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  padding: 0px 120px
}

.triup-act-image img{
  width: 100%;
  max-width: 350px;
}

/*Address*/
.address-title {
  font-size: 24px;
  color: #3d2702;
  margin: 12px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.address-image iframe {
  width: 400px;
  height: 400px;
}

@media (max-width: 1200px) {
  .click-icon-wrapper {
    display: none;
  }
  .assessment-title, .triup-act-title p{
    font-size: 1.7rem !important;
  }

  .triup-act-title p{
    font-size: 22px !important;
  }

  .triup-act-image {
    padding: 0px 80px
  }

  .triup-act-image img{
    width: 100%;
    max-width: 300px;
  }

  .address-title {
    font-size: 20px;
  }
  
  .address-image iframe {
    width: 350px;
    height: 350px;
  }
}

@media (max-width: 900px) {
  .assessment-title {
    font-size: 1.4rem !important;
  }
  .triup-act-title p{
    font-size: 20px !important;
  }
  .triup-act-image {
    padding: 0px 60px
  }

  .triup-act-image img{
    width: 100%;
    max-width: 250px;
  }

  .address-title {
    font-size: 18px;
  }
  
  .address-image iframe {
    width: 400px;
    height: 400px;
  }
}

/* Media Queries สำหรับ Responsive */
@media (max-width: 768px) {
  .assessment, .triup-act, .address {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
  }
  
  .assessment-content {
    width: 60%;
    text-align: left;
  }
  
  .assessment-button-container {
    justify-content: flex-start;
  }

  .assessment-title {
    font-size: 1.75rem;
  }

  .triup-act-title p{
    font-size: 20px !important;
  }
  
  .assessment-section, .address-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .assessment-image {
    margin-bottom: 30px;
  }

  .triup-act-image {
    margin-top: 30px;
    padding: 0px 0px
  }

  .triup-act-image img{
    width: 100%;
    max-width: 190px;
  }

  .address-title {
    font-size: 18px;
  }
  
  .address-image iframe {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 480px) {
  .assessment, .triup-act, .address{
    padding: 16px;
  }
  
  .assessment-title {
    font-size: 1.25rem;
  }
  .triup-act-title p{
    font-size: 18px !important;
  }
  
  .assessment-button {
    padding: 10px 18px;
    font-size: 0.9rem;
  }
  .assessment-section, .address-section {
    display: flex;
    flex-direction: column !important;
  }
  .triup-act-image img{
    width: 100%;
    max-width: 100px;
  }

  .address-title {
    font-size: 16px;
  }
  
  .address-image iframe {
    width: 300px;
    height: 300px;
  }
}